<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../../css/estilo.css">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
	integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w"
	crossorigin="anonymous">
</head>
<body>
<div>
<!-- ********* Inicio DIV principal *********** -->


	<div class="container-error-pop">
	     <img alt="ICON NOT FOUND" src="../../inmagenes/png/free-icon/error-icono.png">
	     <p>[Codigo Error] </p>
		<p>[Internal Server Error] Error Interno en el Servidor</p>
	</div>

<!-- ********* Final DIV principal *********** -->
</div>
</body>